/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/


body {
	background-color: #bdc3c7;
}

.profil {
	background-color: #31363b;
	width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
}

.foto {
	width: 250px;
	
}

.logo {
	background-color: #b92e81;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: absolute;
	right: 30px;
	top: 145px;

}

.hlavicka {
	position: relative

}

.obsah {
	color: #bdc3c7;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 20px;
	font-size: 14px;
}

.jmeno {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	text-align: left;
	margin-top: 10px
}

.portfolio {
	display: block;
	text-align: center;
	
}

.portfolio a {
	display: block;
	padding: 10px;
	border-top: 1px solid #3f464d;
	border-bottom: 1px solid #3f464d;
}

.facebook {
	display: inline-block;
	text-align: center;


}

.facebook a {
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 125px;
}

.twitter {
	display: inline-block;
	text-align: center;


}

.twitter a {
	display: inline-block;
	width: 125px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left: 1px solid #3f464d;
}

.odkazy a {
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #bdc3c7;
	font-family: 'Montserrat', sans-serif;
}

ul {
	padding: 0;
}

.odkazy {
	margin: 0; 
}

.portfolio a:hover {
	background-color: #e74c3c;
	color: white;
	padding: 10px;
}
	

.facebook a:hover {
	background-color: #3b5998;
	color: white;
	padding: 10px;
}

.twitter a:hover {
	background-color: #1da1f2;
	color: white;
	padding: 10px;
}